*.swp
*~
*.bak
.DS_Store
files/Linux/config/OpenRGB/logs/
files/Linux/config/VSCodium/*
!files/Linux/config/VSCodium/User
files/Linux/config/VSCodium/User/*
!files/Linux/config/VSCodium/User/settings.json
files/Linux/config/mpd/*
!files/Linux/config/mpd/mpd.conf
__pycache__/
files/Linux/config/emacs/*
!files/Linux/config/emacs/early-init.el
!files/Linux/config/emacs/init.el
!files/Linux/config/emacs/keys.org
!files/Linux/config/emacs/themes
files/Linux/config/emacs/themes/*
!files/Linux/config/emacs/themes/oxocarbon-theme.el
files/Darwin/config/emacs/*
!files/Darwin/config/emacs/early-init.el
!files/Darwin/config/emacs/init.el
!files/Darwin/config/emacs/keys.org
!files/Darwin/config/emacs/themes
files/Darwin/config/emacs/themes/*
!files/Darwin/config/emacs/themes/oxocarbon-theme.el
