*.swp
*~
.DS_Store
files/Linux/config/OpenRGB/logs/
files/Linux/config/VSCodium/*
!files/Linux/config/VSCodium/User
files/Linux/config/VSCodium/User/*
!files/Linux/config/VSCodium/User/settings.json
files/Linux/config/mpd/*
!files/Linux/config/mpd/mpd.conf
