layout {

    focus-ring {
        active-color   "#ffafd1"
        inactive-color "#1b1015"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffafd1"
        inactive-color "#1b1015"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffafd1"
        inactive-color "#fc72b7"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffafd180"
    }
}

recent-windows {
    highlight {
        active-color "#ffafd1"
        urgent-color "#ffb4ab"
    }
}
