[Desktop Entry]
Type=Application
Name=R2modman
Exec=/usr/bin/r2modman
Icon=/home/elias/dotfiles/files/Linux/misc/application-icons/r2modman.png
Terminal=false
Categories=Text;
