[Desktop Entry]
Type=Application
Name=Zen Browser
Comment=Experience tranquillity while browsing the web
Exec=/usr/bin/zen-bin %U
Icon=/home/elias/dotfiles/files/Linux/misc/application-icons/zen-browser.svg
Terminal=false
Categories=Web;Browser;Network;WebBrowser;
StartupWMClass=zen-alpha
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
