layout {

    focus-ring {
        active-color   "#bec3f5"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bec3f5"
        inactive-color "#131316"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#bec3f5"
        inactive-color "#979ccc"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bec3f580"
    }
}

recent-windows {
    highlight {
        active-color "#bec3f5"
        urgent-color "#ffb4ab"
    }
}
